<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>

<div>

    <form th:object="${record}" th:action="@{'/' + ${action} + '/'}" method="post">
        vkey: <input type="text" th:field="*{vkey}" /><br /><br />
        real: <input type="text" th:field="*{real}" /><br /><br />
        pzn:
        <select th:field="*{pzn}">
            <option th:each="item : ${pznArr}"
                    th:value="${item}"
                    th:text="${item}"></option>
        </select>
        <br /><br />
        uer:
        <select th:field="*{uer}">
            <option th:each="item : ${uerArr}"
                    th:value="${item}"
                    th:text="${item}"></option>
        </select>
        <br /><br />
        rgn: <input type="text" th:field="*{rgn}" /><br /><br />
        ind: <input type="text" th:field="*{ind}" /><br /><br />
        tnp:
        <select th:field="*{tnp}">
            <option th:each="item : ${tnpArr}"
                    th:value="${item}"
                    th:text="${item}"></option>
        </select>
        <br /><br />
        nnp: <input type="text" th:field="*{nnp}" /><br /><br />
        adr: <input type="text" th:field="*{adr}" /><br /><br />
        rkc: <input type="text" th:field="*{rkc}" /><br /><br />
        namep: <input type="text" th:field="*{namep}" /><br /><br />
        namen: <input type="text" th:field="*{namen}" /><br /><br />
        newnum: <input type="text" th:field="*{newnum}" /><br /><br />
        newks: <input type="text" th:field="*{newks}" /><br /><br />
        permfo: <input type="text" th:field="*{permfo}" /><br /><br />
        spok: <input type="text" th:field="*{spok}" /><br /><br />
        at1: <input type="text" th:field="*{at1}" /><br /><br />
        at2: <input type="text" th:field="*{at2}" /><br /><br />
        telef: <input type="text" th:field="*{telef}" /><br /><br />
        regn:
        <select th:field="*{regn}">
            <option th:each="item : ${regnArr}"
                    th:value="${item}"
                    th:text="${item}"></option>
        </select>
        <br /><br />
        okpo: <input type="text" th:field="*{okpo}" /><br /><br />
        dtIzm: <input type="text" th:field="*{dtIzm}" /><br /><br />
        cks: <input type="text" th:field="*{cks}" /><br /><br />
        ksnp: <input type="text" th:field="*{ksnp}" /><br /><br />
        dateIn: <input type="text" th:field="*{dateIn}" /><br /><br />
        dateCh: <input type="text" th:field="*{dateCh}" /><br /><br />
        vkeydel: <input type="text" th:field="*{vkeydel}" /><br /><br />
        dtIzmr: <input type="text" th:field="*{dtIzmr}" /><br /><br />


        <br /><br />
        <input type="submit" />
    </form>

</div>

</body>
</html>
