<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>

<div>
    <form action="/show/filter/" method="get">
        <input type="text" name="search" />
        <input type="submit" value="Search" />
    </form>
</div>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>#</th>
            <th th:each="item : ${fields}" th:text="${item}"></th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record, iterator : ${data}">
            <th scope="row" th:text="@{${iterator.index} + 1}"></th>
            <td>
                <span th:text="@{${record.vkey}}"></span>
            </td>
            <td>
                <span th:text="@{${record.real}}"></span>
            </td>
            <td>
                <span th:text="@{${record.pzn}}"></span>
            </td>
            <td>
                <span th:text="@{${record.uer}}"></span>
            </td>
            <td>
                <span th:text="@{${record.rgn}}"></span>
            </td>
            <td>
                <span th:text="@{${record.ind}}"></span>
            </td>
            <td>
                <span th:text="@{${record.tnp}}"></span>
            </td>
            <td>
                <span th:text="@{${record.nnp}}"></span>
            </td>
            <td>
                <span th:text="@{${record.adr}}"></span>
            </td>
            <td>
                <span th:text="@{${record.rkc}}"></span>
            </td>
            <td>
                <span th:text="@{${record.namep}}"></span>
            </td>
            <td>
                <span th:text="@{${record.namen}}"></span>
            </td>
            <td>
                <span th:text="@{${record.newnum}}"></span>
            </td>
            <td>
                <span th:text="@{${record.newks}}"></span>
            </td>
            <td>
                <span th:text="@{${record.permfo}}"></span>
            </td>
            <td>
                <span th:text="@{${record.spok}}"></span>
            </td>
            <td>
                <span th:text="@{${record.at1}}"></span>
            </td>
            <td>
                <span th:text="@{${record.at2}}"></span>
            </td>
            <td>
                <span th:text="@{${record.telef}}"></span>
            </td>
            <td>
                <span th:text="@{${record.regn}}"></span>
            </td>
            <td>
                <span th:text="@{${record.okpo}}"></span>
            </td>
            <td>
                <span th:text="@{${record.dtIzm}}"></span>
            </td>
            <td>
                <span th:text="@{${record.cks}}"></span>
            </td>
            <td>
                <span th:text="@{${record.ksnp}}"></span>
            </td>
            <td>
                <span th:text="@{${record.dateIn}}"></span>
            </td>
            <td>
                <span th:text="@{${record.dateCh}}"></span>
            </td>
            <td>
                <span th:text="@{${record.vkeydel}}"></span>
            </td>
            <td>
                <span th:text="@{${record.dtIzmr}}"></span>
            </td>

            <td>
                <a th:href="@{'/edit/'+${record.newnum} + '/'}">Редактировать</a>
            </td>
            <td>
                <a th:href="@{'/delete/'+${record.newnum} + '/'}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
